body {
  background-color:#EAEAE8;
}

a {
  color:white;
}

.response-wrapper {
  width:90%;
  margin: 0px auto;
  margin-bottom:40px;
  background-color:white;
  box-sizing:border-box;
  padding:20px;
  border:2px solid #CFCEBF;
  border-radius:3px;
}

.bot-pad {
  background-color:#898B7A;
}

.response-wrapper p {
  color:#898B7A;
}

.response-wrapper h3 {
  color:#5B594A;
}

p.question {
  color:#000;
  font-weight:700;
}

.done {
	background: #FF9999;
	text-decoration: line-through;
}

.nav-back {
  background-color: #5B5A4B;
  width:100%;
}

.sub-title {
  vertical-align: middle;
  height:100%;
  color:white;
  font-size:2em;
}

.space-top-3 {
  margin-top:30px;
}
